@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;
  scroll-behavior: smooth;
  transition: 0.1s;
}

a {
  text-decoration: none;
}

body {
  background: var(--bg);
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background: var(--bg-lightest) !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  background: var(--tx-dimmed) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
